<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<link rel="stylesheet" th:href="@{/css/chat/chat-page.css}">
<nav th:replace="fragments/navigation :: navigation"></nav>

<main class="chatting-page">
    <div class="chat-list-container">
        <ul class="chat-list">
            <!-- 서버에서 가져온 데이터로 채워지는 채팅 상대방 목록 -->
        </ul>
    </div>

    <div class="chat-main">
        <ul class="chat-thread" id="messageContainer">
            <!-- 서버에서 가져온 데이터로 채워지는 채팅 내용 -->
        </ul>
        <form class="chat-window" id="chatForm">
            <input class="chat-window-message" id="messageInput" name="chat-window-message" type="text" autocomplete="off" autofocus />
            <button type="submit">Send</button>
        </form>
    </div>
</main>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<script th:src="@{/js/chat/chat-page.js}"></script>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
