<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/review/review.css}">

<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section d-flex">
        <div class="container d-flex">
            <div class="row d-flex justify-content-center align-items-start">
                <div class="text-center mb-5 pb-2 w-100">
                    <h2 class="text-white">실시간 리뷰</h2>
                    <hr class="review-line">
                </div>
                <div class="review-info">
                    <p>모든 실시간 리뷰는 익명으로 작성됩니다.</p>
                </div>

                <div class="alert" style="display:none;" th:if="${message}" th:text="${message}"></div>

                <div th:if="${userId != 0}">
                    <form action="/review/submitLiveReview" id="liveReviewForm" method="POST">
                        <input name="userId" th:value="${userId}" type="hidden"/>
                        <div class="review-input-row">
                            <label for="review-content">리뷰 입력:</label>
                            <div class="right-side-elements">
                                <select name="rating">
                                    <option value="1">★☆☆☆☆</option>
                                    <option value="2">★★☆☆☆</option>
                                    <option value="3">★★★☆☆</option>
                                    <option value="4">★★★★☆</option>
                                    <option selected value="5">★★★★★</option>
                                </select>
                                <button class="review-button" type="submit">리뷰 작성</button>
                            </div>
                        </div>
                        <div class="review-textarea">
                            <textarea cols="40" id="review-content" name="review_content" rows="3"></textarea>
                        </div>
                    </form>
                </div>

                <hr class="review-divider">

                <div class="review-section">
                    <div class="live-review-box" th:each="review : ${liveReviews}">
                        <div class="live-review-item" id="review-item"
                             th:data-review-no="${review.reviewNo}"
                             th:data-reviewer-id="${review.reviewerUserId}"
                             th:data-reviewer-nickname="${review.reviewerNickname}">
                            <div class="review-header">
                                <div class="review-rating" th:text="${review.starRating}">
                                    ★★★★★
                                </div>
                                <div class="feed-icons">
                                    <div class="dropdown-more">
                                        <a class="more-drop-btn more-icon">
                                            <img alt="More" class="more-icon-image" th:src="@{/image/icon_more.png}"/>
                                        </a>
                                        <div class="more-dropdown-content">
                                            <div class="more-ele" onclick="openLiveReviewReportPopup(this)">
                                                신고하기
                                            </div>

                                            <div class="more-ele" onclick="submitDeleteForm(this)">
                                                <form action="/review/deleteLiveReview" method="POST" onsubmit="return confirmDelete();" style="display:inline;">
                                                    <input name="reviewNo" th:value="${review.reviewNo}" type="hidden"/>
                                                    <button class="live-review-delete-button" style="display:none;" type="submit">삭제</button>
                                                </form>
                                                삭제
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p th:text="${review.reviewContent}">리뷰 내용</p>
                        </div>
                    </div>

                    <div th:replace="fragments/pagination :: pagination"></div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- 신고하기 팝업 -->
<div class="report-overlay" id="reportOverlay">
    <div class="report-popup">
        <h2>신고하기</h2>
        <form action="/report/request" class="report-action-box" id="reportForm" method="POST">
            <div>
                <ul>
                    <li>
                        <p>신고 유형 : <span>Review</span></p>
                    </li>
                    <li>
                        <p>신고 대상 : <span id="reportedUser"></span></p>
                        <input id="reviewNo" name="reviewNo" type="hidden">
                        <input id="reportedUserNo" name="reportedUserNo" type="hidden">
                        <input name="reportType" type="hidden" value="Review">
                        <input id="reportTypeNo" name="reportTypeNo" type="hidden">
                    </li>
                </ul>
            </div>
            <select class="select-category" name="reportCategoryNo">
                <option disabled selected>==신고 카테고리 선택==</option>
                <option th:each="category : ${reportCategory}"
                        th:text="${category.reportCategoryName}"
                        th:value="${category.reportCategoryNo}"></option>
            </select>
            <textarea id="reportContent" name="reportContent" placeholder="상세 사유를 작성해 주세요."></textarea>
            <div class="action-btns">
                <button class="action-complate" id="actionComplate" type="submit">완료</button>
                <button class="action-close" id="actionCloses" type="button">닫기</button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/reference_js/jquery.js}"></script>
<script th:src="@{/js/reference_js/jquery.min.js}"></script>
<script th:src="@{/js/reference_js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/reference_js/custom.js}"></script>
<script th:src="@{/js/review/live-review.js}"></script>

</body>
</html>
