<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heartlink.admin.model.mapper.AdminInquiryMapper">
    <resultMap id="inquiryResultMap" type="AdminInquiryDto">
        <result property="chatbotChattingNo" column="CHATBOT_CHATTING_NO"/>
        <result property="basicUserNo" column="BASIC_USER_NO"/>
        <result property="chatbotChattingIndate" column="CHATBOT_CHATTING_INDATE"/>
        <result property="chatbotChattingState" column="CHATBOT_CHATTING_STATE"/>
        <result property="chatbotInquiryTag" column="CHATBOT_INQUIRY_TAG"/>
    </resultMap>

    <select id="getInquiries" resultMap="inquiryResultMap">
        SELECT CHATBOT_CHATTING_NO,
        BASIC_USER_NO,
        CHATBOT_CHATTING_INDATE,
        CHATBOT_CHATTING_STATE,
        CHATBOT_INQUIRY_TAG
        FROM CHATBOT_INQUIRIES
        WHERE CHATBOT_CHATTING_INDATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD')
        AND TO_DATE(#{endDate}, 'YYYY-MM-DD') + INTERVAL '1' DAY - INTERVAL '1' SECOND
        <if test="tag != null and tag != ''">
            AND CHATBOT_INQUIRY_TAG = #{tag}
        </if>
        ORDER BY CHATBOT_CHATTING_INDATE DESC
    </select>
</mapper>
