<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heartlink.charge.model.mapper.ChargeMapper">

    <resultMap id="resultMapCharge" type="ChargeRequestDto">
        <result column="payment_no" property="paymentNo"/>
        <result column="payment_user_email" property="paymentUserEmail"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="payment_amount" property="paymentAmount"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="payment_state" property="paymentState"/>
        <result column="payment_product" property="paymentProduct"/>
        <result column="payment_reference" property="paymentReference"/>
    </resultMap>

    <select id="getCurrentSequence" resultType="java.lang.Integer">
        SELECT PAYMENT_SEQ.NEXTVAL FROM DUAL
    </select>

    <insert id="setPaymentHistory">
        INSERT INTO PAYMENT_HISTORY (
            PAYMENT_NO,
            PAYMENT_USER_EMAIL,
            PAYMENT_DATE,
            PAYMENT_AMOUNT,
            PAYMENT_METHOD,
            PAYMENT_STATE,
            PAYMENT_PRODUCT,
            PAYMENT_REFERENCE
        ) VALUES (
                     #{paymentNo},
                     #{paymentUserEmail},
                     SYSDATE,
                     #{paymentAmount},
                     #{paymentMethod},
                     #{paymentState},
                     #{paymentProduct},
                     null
                 )
    </insert>

    <update id="setUserCoin">
        UPDATE BASIC_USER
        SET BASIC_USER_COIN = BASIC_USER_COIN + #{paymentCoin}
        WHERE BASIC_USER_EMAIL = #{paymentUserEmail}
    </update>

    <select id="setPaymentDbDetails" resultMap="resultMapCharge">
        SELECT * FROM PAYMENT_HISTORY
        WHERE PAYMENT_NO = #{paymentNo}
    </select>

    <update id="setPaymentState">
        UPDATE PAYMENT_HISTORY
        SET
            PAYMENT_STATE = #{paymentState},
            PAYMENT_METHOD = #{paymentMethod},
            PAYMENT_REFERENCE = #{paymentReference}
        WHERE PAYMENT_NO = #{paymentNo}
    </update>

    <select id="getUserPaymentHistory" resultMap="resultMapCharge">
        SELECT
            PAYMENT_NO,
            PAYMENT_DATE,
            PAYMENT_STATE,
            PAYMENT_METHOD,
            PAYMENT_AMOUNT,
            PAYMENT_PRODUCT
        FROM PAYMENT_HISTORY
        WHERE
            PAYMENT_USER_EMAIL = #{userEmail}
          AND PAYMENT_STATE != 'Pending'
        ORDER BY PAYMENT_DATE DESC
    </select>

    <select id="selectUserCoin" resultType="java.lang.Integer">
        SELECT BASIC_USER_COIN
        FROM BASIC_USER
        WHERE BASIC_USER_EMAIL = #{userEmail}
    </select>

    <select id="getRequestPaymentInfo" resultMap="resultMapCharge">
        SELECT * FROM PAYMENT_HISTORY
        WHERE PAYMENT_NO = #{paymentNo}
    </select>

    <update id="canceledState">
        UPDATE PAYMENT_HISTORY
        SET PAYMENT_STATE = 'Canceled'
        WHERE PAYMENT_NO = #{paymentNo}
    </update>

    <update id="setCoindeduction">
        UPDATE BASIC_USER
        SET BASIC_USER_COIN = BASIC_USER_COIN - #{userProduct}
        WHERE BASIC_USER_EMAIL = #{userEmail}
    </update>

    <select id="getOldPendingPayments"  resultMap="resultMapCharge">
        SELECT *
        FROM PAYMENT_HISTORY
        WHERE PAYMENT_STATE = 'Pending'
        AND PAYMENT_DATE &lt; #{limitMinute}
    </select>

    <update id="failPayment">
        UPDATE PAYMENT_HISTORY
        SET PAYMENT_STATE = 'Failed'
        WHERE PAYMENT_NO = #{paymentNo}
    </update>

</mapper>
