<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">

<nav th:replace="fragments/navigation :: navigation"></nav>

<section class="hero-section">
    <div class="container mypage-box">
        <div class="mypage-box-container d-flex">
            <div th:replace="mypage/mypage_nav :: mypagenav"></div>
            <div class="custom-block d-flex flex-column align-items-start text-left p-4">
                <div class="review-my-tabs">
                    <a th:href="@{/mypage/ptreview}" class="review-tab-ico">포토 리뷰</a>
                    <a th:href="@{/mypage/lireview}" class="review-tab-ico active">라이브 리뷰</a>
                </div>
                <div class="custom-block-info w-100 review-tab">
                    <div class="review-section mb-5">
                        <h4 class="text-primary-color">라이브 리뷰</h4>
                        <div class="live-review-box">
                            <div th:each="review : ${liveReviews}" class="live-review-item">
                                <div class="review-header">
                                    <div class="review-rating">
                                        <!-- 채워진 별 -->
                                        <span th:each="i : ${#numbers.sequence(1, review.reviewRating)}">★</span><span th:if="${review.reviewRating < 5}" th:each="i : ${#numbers.sequence(1, 5 - review.reviewRating)}">☆</span>
                                    </div>

                                    <div class="feed-icons">
                                        <div class="dropdown-more">
                                            <a class="more-drop-btn more-icon">
                                                <img alt="More" class="more-icon-image" th:src="@{/image/icon_more.png}"/>
                                            </a>
                                            <div class="more-dropdown-content">
                                                <div class="more-ele" onclick="submitDeleteForm(this)">
                                                    <form action="/review/deleteLiveReview" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                                                        <input name="reviewNo" th:value="${review.reviewNo}" type="hidden" />
                                                        <button class="live-review-delete-button" type="submit" style="display:none;">삭제</button>
                                                    </form>
                                                    삭제
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p th:text="${#strings.abbreviate(review.reviewContent, 100)}"></p>
                            </div>
                        </div>
                        <!-- 페이지네이션 추가 -->
                        <div th:replace="fragments/pagination :: pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/reference_js/jquery.js}"></script>
<script th:src="@{/js/reference_js/jquery.min.js}"></script>
<script th:src="@{/js/reference_js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/reference_js/custom.js}"></script>
<script th:src="@{/js/mypage/mypage.js}"></script>

</body>
</html>
