<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">

<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section d-flex">
        <div class="container d-flex">
            <div class="row d-flex justify-content-center mypage-box">

                <div class="mypage-box-container d-flex">
                    <div th:replace="mypage/mypage_nav :: mypagenav"></div>

                    <div class="custom-block d-flex flex-column align-items-start text-left p-4">

                        <div class="text-center mb-5 pb-2 w-100">
                            <h3 class="text-white">성향/취미</h3>
                            <hr class="mypage-line">
                        </div>

                        <div class="hobby-container d-flex w-100">
                            <div class="hobby-box-1 flex-fill p-3">
                                <h4 class="text-primary-color">성향</h4>
                                <div class="like-dislike-container d-flex w-100">
                                    <div class="like-box flex-fill p-3">
                                        <h6>선호하는 것</h6>
                                        <ul class="font-size-20">
                                            <li th:each="like : ${likeCategories}"
                                                th:if="${userSelectedCategories.contains(like.personalNo)}"
                                                th:text="${like.personalName}">
                                                <!-- 선택한 항목 출력 -->
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="like-box flex-fill p-3">
                                        <h6>기피하는 것</h6>
                                        <ul class="font-size-20">
                                            <li th:each="dislike : ${dislikeCategories}"
                                                th:if="${userSelectedCategories.contains(dislike.personalNo)}"
                                                th:text="${dislike.personalName}">
                                                <!-- 선택한 항목 출력 -->
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="text-center mt-3">
                                    <button class="btn-action" th:onclick="'location.href=\'' + @{/mypage/sentiedit} + '\''">성향 수정</button>
                                </div>
                            </div>
                            <div class="hobby-box-2 flex-fill p-3">
                                <h4 class="text-primary-color">취미</h4>
                                <ul class="font-size-20">
                                    <li th:each="hobby : ${userHobbies}" th:text="${hobby.hobbyName}"></li>
                                </ul>
                                <div class="text-center mt-3">
                                    <button class="btn-action" onclick="location.href='/mypage/hobbyedit'">취미 수정</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/mypage/mypage.js}"></script>

</body>
</html>
