<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2e606de56cb20485d9ccd4bf443da31d&libraries=services"></script>
<link rel="stylesheet" th:href="@{/css/matching/matching_area.css}">
    <nav th:replace="~{fragments/navigation :: navigation}"></nav>
    <section class="matching-main-sec">
        <div class="container matching-out-box">
            <div class="matching-my-tabs">
                <a class="matching-tab-ico not-choice" hre  f="#">MBTI 매칭</a>
                <a class="matching-tab-ico not-choice" href="#">이상형 매칭</a>
                <a class="matching-tab-ico" th:href="@{/matching-area/main}">위치 기반 매칭</a>
            </div>
            <div class="matching-main-box">
                <div id="matching-map" class="map"></div>
                <a class="map-find" id="find-location">이곳에서 찾기</a>
                <div class="matching-list-box">
                    <p>매칭 가능 리스트</p>
                    <ul>
                        <li class="matching-list-item">
                            <div class="matching-request-box">
                                <img th:src="@{/image/user_profile/matching_ex_leesooji.png}" class="matching-photo">
                                <a class="matching-request">매칭 신청</a>
                            </div>
                            <table class="matching-info">
                                <tr>
                                    <td><p class="matching-name">이수지</p></td>
                                    <td><p class="matching-age">27세</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-job">마케팅 매니저</p>
                                    </td>
                                    <td class="info-menu"><p>직업</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-hobby">요가, 독서, 영화감상, 베이킹</p>
                                    </td>
                                    <td class="info-menu"><p>취미</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-type">책임감 있고 성실한 사람</p>
                                        <p class="matching-type">대화가 잘 통하는 사람</p>
                                    </td>
                                    <td class="info-menu"><p>이상형</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-mbti">ENFP</p>
                                    </td>
                                    <td class="info-menu"><p>MBTI</p></td>
                                </tr>
                            </table>
                        </li>
                        <li class="matching-list-item">
                            <div class="matching-request-box">
                                <img th:src="@{/image/user_profile/matching_ex_choihyunah.png}" class="matching-photo">
                                <a class="matching-request">매칭 신청</a>
                            </div>
                            <table class="matching-info">
                                <tr>
                                    <td><p class="matching-name">최현아</p></td>
                                    <td><p class="matching-age">34세</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-job">디자인 디렉터</p>
                                    </td>
                                    <td class="info-menu"><p>직업</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-hobby">전시회 감상, 사진촬영, 여행, 요리</p>
                                    </td>
                                    <td class="info-menu"><p>취미</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-type">예술적인 감각이 뛰어나고 감성적인 사람</p>
                                        <p class="matching-type">서로의 공간을 존중하는 사람</p>
                                    </td>
                                    <td class="info-menu"><p>이상형</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="matching-mbti">ISFP</p>
                                    </td>
                                    <td class="info-menu"><p>MBTI</p></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<script>
    kakao.maps.load(function() {
        var addr = `[[${addr}]]`;
        var userSex = `[[${userSex}]]`;
        var map;

        if (typeof kakao.maps === 'undefined') {
            console.error('Kakao Maps API is not loaded.');
            return;
        }

        var mapContainer = document.getElementById('matching-map');
        var mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };

        map = new kakao.maps.Map(mapContainer, mapOption);

        var geocoder = new kakao.maps.services.Geocoder();

        geocoder.addressSearch(addr, function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                console.log('Latitude:', coords.getLat());
                console.log('Longitude:', coords.getLng());

                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:80px;text-align:center;padding:6px 0;">내 위치</div>'
                });
                infowindow.open(map, marker);

                map.setCenter(coords);
            }
        });

        // 마커 이미지
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        async function fetchUsersInBounds(map) {
            var bounds = map.getBounds();

            try {
                const response = await fetch('/matching-area/bounds', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        southLng: bounds.getSouthWest().getLng(), // 서쪽 경도
                        northLng: bounds.getNorthEast().getLng(), // 동쪽 경도
                        southLat: bounds.getSouthWest().getLat(), // 남쪽 위도
                        northLat: bounds.getNorthEast().getLat(), // 북쪽 위도
                        requesterSex: userSex
                    })
                });

                const responseJson = await response.json();

                console.log(responseJson);

                var positions = [];

                // 사용자 데이터 배열을 반복하여 positions 배열을 생성합니다
                for (var i = 0; i < responseJson.length; i++) {
                    positions.push({
                        title: responseJson[i].basicUserName,
                        latlng: new kakao.maps.LatLng(responseJson[i].latitude, responseJson[i].longitude)
                    });
                }

                // 마커를 지도에 추가합니다
                for (var i = 0; i < positions.length; i++) {
                    var imageSize = new kakao.maps.Size(24, 35);
                    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: positions[i].latlng,
                        title: positions[i].title,
                        image: markerImage
                    });
                }

            } catch (error) {
                console.error('Error:', error);
            }
        }

        document.getElementById('find-location').addEventListener('click', function() {
            fetchUsersInBounds(map);
        });
    });

</script>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
