<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">

<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center mypage-box">

                <div class="mypage-box-container d-flex">
                    <div th:replace="mypage/mypage_nav :: mypagenav"></div>

                    <div class="custom-block d-flex flex-column align-items-start text-left p-4">

                        <div class="text-center mb-5 pb-2 w-100">
                            <h3 class="text-white">프로필 좋아요 목록</h3>
                            <hr class="mypage-line">
                        </div>

                        <div class="custom-block-info w-100">
                            <div class="liked-prof-list">
                                <div th:each="likedProfileData : ${likedProfiles}" class="liked-prof-item" th:data-liked-user-no="${likedProfileData.profile.likedUserNo}">
                                    <img class="prof-img" th:src="${likedProfileData.profilePictureUrl}" alt="프로필 이미지" onerror="this.onerror=null; this.src='/image/user_profile/default_image.png';">
                                    <p class="prof-author" th:text="${likedProfileData.profile.likedUserNickname}">사용자 이름</p>
                                    <p class="prof-liked-time" th:text="${#dates.format(likedProfileData.profile.likeIndate, 'yyyy.MM.dd HH:mm')}">좋아요 시간</p>
                                </div>

                            </div>

                            <div th:replace="fragments/pagination :: pagination"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<!-- 프로필 팝업 구조 -->
<div id="profile-popup" class="popup">
    <div class="popup-content">
        <span class="close-popup">&times;</span>
        <!-- 여기서 프로필 데이터를 동적으로 로드합니다 -->
    </div>
</div>

<script th:src="@{/js/mypage/mypage.js}"></script>

</body>
</html>
