<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/admin-head :: admin_head}"></head>
<body>

<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>

<!--사이드 바-->
<nav th:replace="~{admin/fragments/sidebar-menu :: sidebar_menu}"></nav>

<!-- nav 헤더 start -->
<header th:replace="~{admin/fragments/admin-header :: admin_header}"></header>

<div class="pc-container">
    <div class="pc-content">
        <div class="page-header">
            <h5 class="m-b-10">사용자 상태 관리</h5>
            <div th:action="@{/admin/user/status}" method="GET" class="user-select-box">
                <div class="user-select-filter">
                    <select class="choses-tag" name="filter" id="userFilter">
                        <option value="none" disabled selected>회원 상태</option>
                        <option value="ALL" th:selected="${filter == 'ALL'}">ALL</option>
                        <option value="Active" th:selected="${filter == 'Active'}">Active</option>
                        <option value="Dormant" th:selected="${filter == 'Dormant'}">Dormant</option>
                        <option value="Ban" th:selected="${filter == 'Ban'}">Ban</option>
                        <option value="Deleted" th:selected="${filter == 'Deleted'}">Deleted</option>
                    </select>
                </div>
                <form id="searchForm" class="navbar navbar-light admin-user-search">
                    <select class="user-search-select" id="inputGroupSelect02" name="category">
                        <option value="user_id" selected>ID 이메일</option>
                        <option value="user_num">회원 번호</option>
                    </select>
                    <input type="text" class="user-search-control" name="search"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary user-search-btn" type="submit" id="button-addon2">검색</button>
                </form>
            </div>
        </div>

        <div class="row custom-admin-board">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <table class="admin-management-table">
                            <thead>
                            <tr>
                                <td>회원 번호</td><td>ID 이메일</td><td>성별</td><td>생성일</td><td>회원 상태</td><td>마지막 로그인</td><td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${stateList}">
                                <td th:text="${user.basicUserNo}" th:data-user-no="${user.basicUserNo}" id="basicUserNo"></td>
                                <td th:text="${user.basicUserEmail}"></td>
                                <td th:text="${user.basicUserSex}"></td>
                                <td th:text="${user.basicUserIndate}"></td>
                                <td>
                                    <select id="userState" name="state" th:selected="${user.basicUserStatus == ''}">
                                        <option value="ACTIVE" th:selected="${user.basicUserStatus == 'ACTIVE'}">Active</option>
                                        <option value="DORMANT" th:selected="${user.basicUserStatus == 'DORMANT'}">Dormant</option>
                                        <option value="BAN" th:selected="${user.basicUserStatus == 'BAN'}">Ban</option>
                                        <option value="DELETED" th:selected="${user.basicUserStatus == 'DELETED'}">Deleted</option>
                                    </select>
                                </td>
                                <td th:text="${user.lastLoginDate}"></td>
                                <td>
                                    <button onclick="changeUserState(this)">상태 변경</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="custom-navigation" aria-label="Page navigation example">
                        <div th:replace="~{fragments/pagination :: pagination}"></div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/admin/filter-search.js}"/>
<script th:replace="~{admin/fragments/admin-script::admin_script}"></script>
</body>
</html>