<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/admin-head :: admin_head}"></head>
<body>

<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>

<!--사이드 바-->
<nav th:replace="~{admin/fragments/sidebar-menu :: sidebar_menu}"></nav>

<!-- nav 헤더 start -->
<header th:replace="~{admin/fragments/admin-header :: admin_header}"></header>

<div class="pc-container">
    <div class="pc-content">
        <div class="page-header">
            <h5 class="m-b-10">환불 처리</h5>
        </div>

        <div class="row custom-admin-board">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <table class="admin-management-table">
                            <thead>
                            <tr>
                                <td>결제 번호</td> <td>ID 이메일</td> <td>결제 일시</td> <td>결제 금액</td> <td>결제 방식</td> <td>취소 요청 일시</td> <td>취소 요청 응답</td> <td>요청 응답 일시</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="history : ${refundHistory}">
                                <td th:text="${history.paymentNo}" id="paymentNo"></td>
                                <td th:text="${history.paymentUserEmail}"></td>
                                <td th:text="${history.paymentDate}"></td>
                                <td th:text="${@numberFormatter.print(history.paymentAmount, locale) + ' 원'}"></td>
                                <td th:text="${history.paymentMethod}"></td>
                                <td th:text="${history.cancelRequestIndate}"></td>
                                <td th:if="${history.cancelResponse == null}">
                                    <button th:data-no="${history.paymentNo}"
                                            onclick="paymentResponse('cancel', this.getAttribute('data-no'))">수락</button>
                                    <button th:data-no="${history.paymentNo}"
                                            onclick="paymentResponse('denied', this.getAttribute('data-no')))">거부</button>
                                </td>
                                <td th:if="${history.cancelResponse.equals('Y')}"
                                    style="color: blue;">
                                    결제 취소됨</td>
                                <td th:if="${history.cancelResponse.equals('N')}"
                                    style="color: red;">
                                    결제 거부됨</td>
                                <td th:if="${history.cancelResponseIndate == null}">
                                    응답 전
                                </td>
                                <td  th:if="${history.cancelResponseIndate != null}"
                                     th:text="${history.cancelResponseIndate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="custom-navigation" aria-label="Page navigation example">
                        <div th:replace="~{fragments/pagination :: pagination}"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script src=""
<script th:src="@{/js/admin/admin-cancel-request.js}"></script>
<script th:replace="~{admin/fragments/admin-script::admin_script}"></script>
</body>
</html>